# Node.js
node_modules/
.pnp*
.pnpm-lock.yaml
.pnpm-store/

# TypeScript
*.tsbuildinfo
.next/
!.env
.env
.env.local
.env.test
.env.development
.env.production

# Build artifacts
dist/
build/
out/
coverage/
logs/
tmp/
db/*.db
.cache/
# *.log
# *.sqlite
# *.db
# *.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.bak
*.orig
*.tmp
*.lock

# OS files
.DS_Store
/src/generated/prisma
